<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div style="margin-top:10% ;">
        <a href="https://mycoffeshop.us.auth0.com/authorize?audience=image&
response_type=token&
client_id=HnpsCstICj4i7Q1nSZ4oodqNFHyuASlb&
redirect_uri=http://127.0.0.1:5000/login-result"
style="text-align:center;text-decoration: none;">
            <h1>Login</h1>
        </a>
    </div>
</body>
</html>